<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<div class="col-xs-offset-3 col-xs-6">
    <h1 class="text-center">New Course</h1>

    <form (ngSubmit)="onSubmited()" #courseForm="ngForm">
        <div class="form-group">
            <select class="form-control" name="year" required [(ngModel)]="course.Year" #year="ngModel">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
            <div [hidden]="year.valid || year.pristine"
                 class="alert alert-danger">
                Year is required
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" name="semester" required [(ngModel)]="course.Semester" #semester="ngModel">
                <option *ngFor="let sem of semesters" [value]="sem.semester">{{sem.semester}}</option>
            </select>
            <div [hidden]="semester.valid || semester.pristine"
                 class="alert alert-danger">
                Semester is required
            </div>
        </div>

        <div class="form-group">
            <input class="form-control has-feedback" type="text" required placeholder="Course Id" name="course_num"
                   [(ngModel)]="course.CourseId" #CourseId="ngModel">
            <div [hidden]="CourseId.valid || CourseId.pristine"
                 class="alert alert-danger">
                Course title is required
            </div>
        </div>

        <div>
            <label *ngFor="let day of days" style="margin-right: 5px">
                <input type="checkbox" name="Day" [value]="day" (click)="onDateSelected($event.target)">
                {{day}}
            </label>
        </div>

        <div class="form-group">
            <input class="form-control has-feedback" type="text" required placeholder="Class time" name="prof"
                   [(ngModel)]="course.ClassTime" #time="ngModel">
            <div [hidden]="time.valid || time.pristine"
                 class="alert alert-danger">
                Class time is required
            </div>
        </div>

        <button class="btn btn-primary center-block" type="submit" [disabled]="!courseForm.form.valid">Submit</button>
    </form>
</div>


