<div *ngIf="studentType==1" [class]="['row']">
    <div class="col-xs-4 col-xs-offset-4 list-group-item" *ngFor="let student of students">
        <span style="margin-right: 20px">{{student.id}}</span>
        <i class="glyphicon glyphicon-remove pull-right" (click)="removeRow(student.id)"></i>
    </div>

    <div class="col-xs-4 col-xs-offset-4 list-group-item addStudent">
        <form (ngSubmit)="onNewStudentAdded()">
            <div class="form-group">
                <input type="text" class="form-control" required [(ngModel)]="student.id" #id="ngModel" name="id"
                       placeholder="Student id...">
                <div [hidden]="id.valid || id.pristine"
                     class="alert alert-danger">
                    Student id is required
                </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right" style="margin-left: 20px;">Add</button>
            <button type="reset" class="btn btn-danger pull-right">Clear</button>
        </form>
    </div>
</div>
<div *ngIf="studentType!=1" [class]="['row']">
    <h2 class="text-center">You do not have privilege to view this page</h2>
</div>
