<h1 class="h1 text-center">Courses</h1>
<a class="row" *ngIf="courseList">
    <courses-list-row *ngFor="let item of courseList"
                      [course]="item"></courses-list-row>
</a>

<div class="col-xs-4 col-xs-offset-4">
    <a class="btn btn-primary center-block" [routerLink]="['/course-registration']">New Course</a>
</div>