<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <a [routerLink]="['/course-picker']"><i class="glyphicon glyphicon-chevron-left"></i>Back to choose courses</a>
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li [routerLinkActive]="['active']" role="presentation">
                        <a [routerLink]="['dashboard']" data-toggle="tab" role="tab">Dashboard</a>
                    </li>
                    <li [routerLinkActive]="['active']" role="presentation">
                        <a [routerLink]="['time-slots']" data-toggle="tab" role="tab">By
                            Date</a>
                    </li>
                    <li [routerLinkActive]="['active']" role="presentation">
                        <a [routerLink]="['edit-student-list']" data-toggle="tab" role="tab">Add/Edit
                            Students</a>
                    </li>
                </ul>
            </div>

            <div class="panel-body">
                <div class="tab-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

