<h1>Date: {{title}}</h1>

<div class="list-group-item row" *ngFor="let item of lineChartLabels; let index = index">
    <span class=" col-xs-4">{{lineChartLabels[index]}}</span>
    <span class=" col-xs-4">{{dataInTimeFormat[index]}}</span>
</div>