<h1>Dashboard</h1>
<div *ngIf="lineChartData" class="col-md-6 col-md-offset-3">
    <canvas baseChart
            [data]="lineChartData"
            [labels]="lineChartLabels"
            [chartType]="lineChartType"
            [legend]="false"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>