<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <div class="login-form-1">
        <form id="login-form" class="text-left" (ngSubmit)="onSubmit()">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="lg_username" name="lg_username"
                               [(ngModel)]="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="lg_password"
                               [(ngModel)]="password" placeholder="password" required>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <span class="invalid" *ngIf="loginFail">Invalid username/password</span>
        </form>
    </div>
</div>

