<a [routerLink]='["/main", course.id]' (click)="onRowClick()" class="list-group-item  col-xs-4 col-xs-offset-4">{{course.semester
    + ' ' +
    course.year + ' '
    + course.id}}<i class="glyphicon glyphicon-chevron-right pull-right"></i> </a>
